/* No files to import found in layouts/**\/* */
/* line 2, ../sass/base/_backgrounds.scss */
body {
  background: #f1f1f1 url(../images/site-bg.jpg); }

/* line 4, ../sass/base/_typography.scss */
html {
  font-size: 62.5%; }

/* line 7, ../sass/base/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem; }
