
// IMPORT EXTERNAL DEPENDENCIES
// =============================================================================
@import "susy";
@import "breakpoint";

// COMPASS MIXINS
// =============================================================================
@include border-box-sizing;

// Susy Two Basic Settings
// http://susydocs.oddbird.net/en/latest/ <-- Susy Documentation
// =============================================================================
$susy: (
  columns: 14,
  gutters: 1/3,
  gutter-position: split,
);

// Apply our default grid ($susy) to the site
// =============================================================================
#site-header,
#site-main,
#site-footer {
  @include container();
}

// Never let the edges of the content touch the edges of the browser window
// & never let the site extend wider than 1160px in width.
// =============================================================================
#page-wrapper {
  padding: 60px 20px 0;
  max-width: 1160px;
  margin: 0 auto;
}

#site-main {
  background-color: #fff;
  @include border-radius(10px);
  @include box-shadow(0 0 5px rgba(0,0,0,.13));
  margin-top: 55px;
  padding: 44px 0;
}
