
// Let's use REMs for font-sizes, and set the default size back to 16px.
// =============================================================================
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
}

// Links
// =============================================================================
a:link,
a:visited {
  text-decoration: none;
}
