
// Styling for Movie Rating field (field_movie_rating)
// =============================================================================
.field-name-field-movie-rating {
  float: left;
  width: 100%;
}
.bright {
  background: url(../images/star-bright.png);
  float: left;
  height: 19px;
  width: 20px;
  margin: 0 2px 0 0;
}

.view-mode-teaser.node-movie-review {
  background-color: $beige;
  @include span(8);
  border: 1px solid black;
}
