/* line 11, ../../../../../../.rvm/gems/ruby-2.0.0-p247@amazeelabs/gems/susy-2.1.1/sass/susy/language/susy/_box-sizing.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 27, ../sass/layout/_grid.scss */
#site-header,
#site-main,
#site-footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247@amazeelabs/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  #site-header::after,
  #site-main::after,
  #site-footer::after {
    content: " ";
    display: block;
    clear: both; }

/* line 36, ../sass/layout/_grid.scss */
#page-wrapper {
  padding: 60px 20px 0;
  max-width: 1160px;
  margin: 0 auto; }

/* line 42, ../sass/layout/_grid.scss */
#site-main {
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  margin-top: 55px;
  padding: 44px 0; }

/* line 2, ../sass/base/_backgrounds.scss */
body {
  background: #f1f1f1 url(../images/site-bg.jpg);
  padding: 0 0 170px; }

/* line 6, ../sass/base/_backgrounds.scss */
.overlay-bg {
  background: #fbfbfb;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000; }
  /* line 15, ../sass/base/_backgrounds.scss */
  .overlay-bg .overlay-content {
    height: 248px;
    left: 50%;
    margin: -143px 0 0 -160px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 320px; }
    /* line 23, ../sass/base/_backgrounds.scss */
    .overlay-bg .overlay-content img {
      display: block; }
  /* line 27, ../sass/base/_backgrounds.scss */
  .overlay-bg .close-btn {
    cursor: pointer;
    display: inline-block;
    float: right;
    background: #3ab681;
    border: 0 none;
    color: #fff !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 12px;
    text-transform: uppercase;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: -84px 0 0;
    padding: 10px 20px;
    position: relative;
    z-index: 1001; }
    /* line 12, ../sass/variables/_mixins.scss */
    .overlay-bg .close-btn:hover {
      background: #2bcd92; }

/* line 2, ../sass/base/_forms.scss */
.green-button,
.button {
  background: #3ab681;
  border: 0 none;
  color: #fff !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 12px;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  /* line 12, ../sass/variables/_mixins.scss */
  .green-button:hover,
  .button:hover {
    background: #2bcd92; }

/* line 7, ../sass/base/_forms.scss */
input {
  max-width: 100%; }

/* line 11, ../sass/base/_forms.scss */
input[type="text"],
input[type="password"] {
  border: 1px solid #cacaca;
  padding: 10px; }

/* line 4, ../sass/base/_typography.scss */
html {
  font-size: 62.5%; }

/* line 7, ../sass/base/_typography.scss */
body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

/* line 15, ../sass/base/_typography.scss */
a:link,
a:visited {
  text-decoration: none; }

/* line 20, ../sass/base/_typography.scss */
.l-content a:link,
.l-content a:visited {
  color: #3ab681;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  /* line 24, ../sass/base/_typography.scss */
  .l-content a:link:hover,
  .l-content a:visited:hover {
    color: #2bcd92; }

/* line 31, ../sass/base/_typography.scss */
.l-content h1 {
  margin-top: 0; }

/* line 2, ../sass/components/_comments.scss */
.comment-count {
  background: url(../images/comment.png) no-repeat left center;
  float: left;
  padding: 4px 0 4px 24px; }
  /* line 6, ../sass/components/_comments.scss */
  .comment-count a {
    border-bottom: 1px solid transparent; }
    /* line 8, ../sass/components/_comments.scss */
    .comment-count a:hover {
      border-bottom: 1px solid #2bcd92; }

/* line 13, ../sass/components/_comments.scss */
.field-type-comment {
  margin-top: 60px; }

/* line 16, ../sass/components/_comments.scss */
ul.inline {
  margin-top: 30px; }
  /* line 18, ../sass/components/_comments.scss */
  ul.inline .comment-forbidden {
    padding: 0 0.5em 0 0; }

@media (min-width: 481px) {
  /* line 4, ../sass/components/_header.scss */
  .name-and-slogan {
    width: 26.78571%;
    float: left;
    margin-left: 0.89286%;
    margin-right: 0.89286%;
    margin-left: 8.03571%;
    padding: 0 30px 0 0;
    text-transform: uppercase; } }

/* line 12, ../sass/components/_header.scss */
.site-name {
  background: #000;
  font-size: 24px;
  font-size: 2.4rem;
  margin: 0;
  line-height: 30px;
  line-height: 3.0rem;
  font-weight: normal; }
  @media (min-width: 481px) {
    /* line 12, ../sass/components/_header.scss */
    .site-name {
      text-align: right; } }
  /* line 23, ../sass/components/_header.scss */
  .site-name a {
    background: #000;
    color: #fff;
    float: left;
    padding: 30px; }
    /* line 28, ../sass/components/_header.scss */
    .site-name a:hover {
      color: #fff; }

/* line 4, ../sass/components/_movies.scss */
.field-name-field-movie-rating {
  float: left;
  width: 100%; }

/* line 8, ../sass/components/_movies.scss */
.star {
  float: left;
  height: 19px;
  width: 20px;
  margin: 0 2px 16px 0;
  background-size: 100% 19px; }

/* line 15, ../sass/components/_movies.scss */
.bright {
  background-image: url(../images/star-bright-retina.png); }

/* line 18, ../sass/components/_movies.scss */
.dark {
  background-image: url(../images/star-dark-retina.png); }

/* line 21, ../sass/components/_movies.scss */
.view-mode-teaser.node-movie-review {
  background-color: #f9f9f6;
  margin: 0 0 30px;
  padding: 20px;
  position: relative; }
  @media (min-width: 769px) {
    /* line 21, ../sass/components/_movies.scss */
    .view-mode-teaser.node-movie-review {
      padding: 0; } }
  /* line 29, ../sass/components/_movies.scss */
  .view-mode-teaser.node-movie-review .image {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1); }
    @media (min-width: 769px) {
      /* line 29, ../sass/components/_movies.scss */
      .view-mode-teaser.node-movie-review .image {
        float: left; } }
    /* line 36, ../sass/components/_movies.scss */
    .view-mode-teaser.node-movie-review .image img {
      display: block; }
    /* line 39, ../sass/components/_movies.scss */
    .view-mode-teaser.node-movie-review .image:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
      opacity: 0.85; }
  @media (min-width: 769px) {
    /* line 43, ../sass/components/_movies.scss */
    .view-mode-teaser.node-movie-review .content {
      bottom: 0;
      left: 180px;
      padding: 0 30px;
      position: absolute;
      right: 0;
      top: 0; } }
  /* line 53, ../sass/components/_movies.scss */
  .view-mode-teaser.node-movie-review h2 {
    text-transform: uppercase;
    margin: 26px 0 10px; }
  @media (min-width: 769px) {
    /* line 57, ../sass/components/_movies.scss */
    .view-mode-teaser.node-movie-review .bottom {
      bottom: 24px;
      left: 0;
      padding: 0 30px;
      position: absolute;
      width: 100%; } }
  /* line 66, ../sass/components/_movies.scss */
  .view-mode-teaser.node-movie-review .green-button {
    float: right; }

/* line 71, ../sass/components/_movies.scss */
.l-content {
  padding: 0 20px; }
  @media (min-width: 769px) {
    /* line 71, ../sass/components/_movies.scss */
    .l-content {
      width: 55.35714%;
      float: right;
      margin-left: 0.89286%;
      margin-right: 0.89286%;
      margin-right: 8.03571%;
      padding: 0; } }

@media (min-width: 769px) {
  /* line 2, ../sass/components/_sidebar.scss */
  .l-sidebar {
    width: 26.78571%;
    float: left;
    margin-left: 0.89286%;
    margin-right: 0.89286%;
    margin-left: 8.03571%;
    padding-right: 30px; } }
/* line 8, ../sass/components/_sidebar.scss */
.l-sidebar .block {
  background: #fcdd62;
  padding: 30px;
  margin-bottom: 30px; }
  /* line 12, ../sass/components/_sidebar.scss */
  .l-sidebar .block h2 {
    margin-top: 0; }
