
// Styling for Movie Rating field (field_movie_rating)
// =============================================================================
.field-name-field-movie-rating {
  float: left;
  width: 100%;
}
.star {
  float: left;
  height: 19px;
  width: 20px;
  margin: 0 2px 16px 0;
  background-size: 100% 19px;
}
.bright {
  background-image: url(../images/star-bright-retina.png);
}
.dark {
  background-image: url(../images/star-dark-retina.png);
}
.view-mode-teaser.node-movie-review {
  background-color: $beige;
  margin: 0 0 30px;
  padding: 20px;
  position: relative;
  @include breakpoint($desktop-up) {
    padding: 0;
  }
  .image {
    @include transition(all 0.4s ease-in-out);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    @include breakpoint($desktop-up) {
      float: left;
    }
    img {
      display: block;
    }
    &:hover {
      @include opacity(0.85);
    }
  }
  .content {
    @include breakpoint($desktop-up) {
      bottom: 0;
      left: 180px;
      padding: 0 30px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  h2 {
    text-transform: uppercase;
    margin: 26px 0 10px;
  }
  .bottom {
    @include breakpoint($desktop-up) {
      bottom: 24px;
      left: 0;
      padding: 0 30px;
      position: absolute;
      width: 100%;
    }
  }
  .green-button {
    float: right;
  }
}

.l-content {
  padding: 0 20px;
  @include breakpoint($desktop-up) {
    @include span(last 8 of 14);
    @include post(1);
    padding: 0;
  }
}
