
.l-sidebar {
  @include span(first 4 of 14);
  @include pre(1);
  // border: 1px solid black;
  padding-right: 30px;
  .block {
    background: $yellow;
    padding: 30px;
    margin-bottom: 30px;
    h2 {
      margin-top: 0;
    }
  }
}
