
.l-sidebar {
  @include breakpoint($desktop-up) {
    @include span(first 4 of 14);
    @include pre(1);
    padding-right: 30px;
  }
  .block {
    background: $yellow;
    padding: 30px;
    margin-bottom: 30px;
    h2 {
      margin-top: 0;
    }
  }
}
